# PyCity Schools Analysis
- Your analysis here

In [1]:
# Dependencies
import pandas as pd
from pathlib import Path

# Path to files
school_csv = Path("Resources/schools_complete.csv")
student_csv = Path("Resources/students_complete.csv")

# Read in CSV data to pandas DataFrames
school_data_unq = pd.read_csv(school_csv)
student_data_unq = pd.read_csv(student_csv)

# Merge the data  
school_merged_data = pd.merge(student_data_unq, school_data_unq, how="left", on=["school_name", "school_name"])
school_merged_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [12]:
# Count schools in the district
total_schools = len(school_merged_data['school_name'].unique())
total_schools

15

In [7]:
# Total students
total_students = len(school_merged_data['Student ID'])
total_students

39170

In [22]:
# Total budget
total_budget = school_data_unq['budget'].sum()
total_budget

24649428

In [23]:
# Average math score
avg_math_score = school_merged_data['math_score'].mean()
avg_math_score

78.98537145774827

In [24]:
# Average reading score
avg_read_score = school_merged_data['reading_score'].mean()
avg_read_score

81.87784018381414

In [28]:
# % passing math (the percentage of students who passed math)
students_pass_math = school_merged_data[(school_merged_data["math_score"] >= 70)].count()["student_name"]
percent_pass_math = students_pass_math / float(total_students) * 100
percent_pass_math

74.9808526933878

In [29]:
# % passing reading (the percentage of students who passed reading)
students_pass_read = school_merged_data[(school_merged_data["reading_score"] >= 70)].count()["student_name"]
percent_pass_read = students_pass_read / float(total_students) * 100
percent_pass_read

85.80546336482001

In [31]:
# % overall passing (the percentage of students who passed math AND reading)
students_pass_math_reading = school_merged_data[
    (school_merged_data["math_score"] >= 70) & (school_merged_data["reading_score"] >= 70)
].count()["student_name"]
overall_pass_rate = students_pass_math_reading /  float(total_students) * 100
overall_pass_rate

65.17232575950983

In [40]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary_df = pd.DataFrame({'Total Schools': [total_schools],
                                  'Total Students': [total_students],
                                   'Total Budget':[total_budget],
                                   'Average Math Score': [avg_math_score],
                                   'Average Reading Score':[avg_read_score],
                                   '% Passing Math':[percent_pass_math],
                                   '% Passing Reading':[percent_pass_read],
                                   '% Overall Passing':[overall_pass_rate]})

# Format
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

# Display
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [120]:
# select school types
school_types = pd.DataFrame(school_data_unq[['school_name','type']])
school_types

              school_name      type
0       Huang High School  District
1    Figueroa High School  District
2     Shelton High School   Charter
3   Hernandez High School  District
4     Griffin High School   Charter
5      Wilson High School   Charter
6     Cabrera High School   Charter
7      Bailey High School  District
8      Holden High School   Charter
9        Pena High School   Charter
10     Wright High School   Charter
11  Rodriguez High School  District
12    Johnson High School  District
13       Ford High School  District
14     Thomas High School   Charter

In [119]:
# Total students (per school)
students_per_school = pd.DataFrame(school_merged_data.groupby('school_name')['Student ID'].count())
students_per_school

                       Student ID
school_name
Bailey High School           4976
Cabrera High School          1858
Figueroa High School         2949
Ford High School             2739
Griffin High School          1468
Hernandez High School        4635
Holden High School            427
Huang High School            2917
Johnson High School          4761
Pena High School              962
Rodriguez High School        3999
Shelton High School          1761
Thomas High School           1635
Wilson High School           2283
Wright High School           1800

In [59]:
# # Total school budget and per capita spending (per school)
# budget_per_school = school_data_unq[['school_name','budget']]
# per_school_capita =
# # per_school_capita = budget_per_school['budget'] / students_per_school
# # per_school_capita

In [109]:
# Average test scores (per school)
avg_math_per_school = pd.DataFrame(school_merged_data.groupby('school_name')['math_score'].mean())
avg_read_per_school = pd.DataFrame(school_merged_data.groupby('school_name')['reading_score'].mean())

In [110]:
# #students w/ math >= 70 (per school)
stu_pass_math_per = pd.DataFrame(school_merged_data[school_merged_data["math_score"] >= 70].groupby('school_name')['Student ID'].count())

In [111]:
# #students w/ reading >= 70 (per school) 
stu_pass_read_per = pd.DataFrame(school_merged_data[school_merged_data["reading_score"] >= 70].groupby('school_name')['Student ID'].count())

In [113]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_pass_math_read = pd.DataFrame(school_merged_data[
    (school_merged_data["reading_score"] >= 70) & (school_merged_data["math_score"] >= 70)])
students_pass_math_read = pd.DataFrame(students_pass_math_read.groupby(["school_name"]).size())

In [121]:
# Use the provided code to calculate the passing rates
perc_pass_math_per = pd.DataFrame(stu_pass_math_per / students_per_school * 100)
perc_pass_reading_per = pd.DataFrame(stu_read_per_school / students_per_school * 100)
overall_pass_rate = pd.DataFrame(students_pass_math_read / students_per_school * 100)

In [124]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
# per_school_summary = pd.DataFrame({'School Type':[school_types], 
#                                    'Total Students':[students_per_school], 
#                                    'Total School Budget':[], 
#                                    'Per Student Budget':[], 
#                                    'Average Math Score':[avg_math_per_school], 
#                                    'Average Reading Score':[avg_read_per_school], 
#                                    '% Passing Math':[perc_pass_math_per], 
#                                    '% Passing Reading':[stu_pass_read_per], 
#                                    '% Overall Passing':[perc_pass_reading_per]})

per_school_summary = pd.merge(school_types,students_per_school, on="school_name",how='outer')
per_school_summary = pd.merge(per_school_summary, avg_math_per_school,on="school_name",how='outer')
per_school_summary = pd.merge(per_school_summary, avg_read_per_school,on="school_name",how='outer')
per_school_summary = pd.merge(per_school_summary, perc_pass_math_per,on="school_name",how='outer')
per_school_summary = pd.merge(per_school_summary, avg_math_per_school,on="school_name",how='outer'



# # Formatting
# per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
# per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

              school_name      type  Student ID  math_score
0       Huang High School  District        2917   76.629414
1    Figueroa High School  District        2949   76.711767
2     Shelton High School   Charter        1761   83.359455
3   Hernandez High School  District        4635   77.289752
4     Griffin High School   Charter        1468   83.351499
5      Wilson High School   Charter        2283   83.274201
6     Cabrera High School   Charter        1858   83.061895
7      Bailey High School  District        4976   77.048432
8      Holden High School   Charter         427   83.803279
9        Pena High School   Charter         962   83.839917
10     Wright High School   Charter        1800   83.682222
11  Rodriguez High School  District        3999   76.842711
12    Johnson High School  District        4761   77.072464
13       Ford High School  District        2739   77.102592
14     Thomas High School   Charter        1635   83.418349

## Highest-Performing Schools (by % Overall Passing)

## Lowest-Performing Schools (by % Overall Passing)

## Math Scores by Grade

## Reading Scores by Grade

## Scores by School Spending

## Scores by School Size

## Scores by School Type