# PyCity Schools Analysis
- Your analysis here

In [1]:
# Dependencies
import pandas as pd
from pathlib import Path

# Path to files
school_csv = Path("Resources/schools_complete.csv")
student_csv = Path("Resources/students_complete.csv")

# Read in CSV data to pandas DataFrames
school_data_unq = pd.read_csv(school_csv)
student_data_unq = pd.read_csv(student_csv)

# Merge the data  
school_merged_data = pd.merge(student_data_unq, school_data_unq, how="left", on=["school_name", "school_name"])
school_merged_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [12]:
# Count schools in the district
total_schools = len(school_merged_data['school_name'].unique())
total_schools

15

In [7]:
# Total students
total_students = len(school_merged_data['Student ID'])
total_students

39170

In [22]:
# Total budget
total_budget = school_data_unq['budget'].sum()
total_budget

24649428

In [23]:
# Average math score
avg_math_score = school_merged_data['math_score'].mean()
avg_math_score

78.98537145774827

In [24]:
# Average reading score
avg_read_score = school_merged_data['reading_score'].mean()
avg_read_score

81.87784018381414

In [28]:
# % passing math (the percentage of students who passed math)
students_pass_math = school_merged_data[(school_merged_data["math_score"] >= 70)].count()["student_name"]
percent_pass_math = students_pass_math / float(total_students) * 100
percent_pass_math

74.9808526933878

In [29]:
# % passing reading (the percentage of students who passed reading)
students_pass_read = school_merged_data[(school_merged_data["reading_score"] >= 70)].count()["student_name"]
percent_pass_read = students_pass_read / float(total_students) * 100
percent_pass_read

85.80546336482001

In [31]:
# % overall passing (the percentage of students who passed math AND reading)
students_pass_math_reading = school_merged_data[
    (school_merged_data["math_score"] >= 70) & (school_merged_data["reading_score"] >= 70)
].count()["student_name"]
overall_pass_rate = students_pass_math_reading /  float(total_students) * 100
overall_pass_rate

65.17232575950983

In [40]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary_df = pd.DataFrame({'Total Schools': [total_schools],
                                  'Total Students': [total_students],
                                   'Total Budget':[total_budget],
                                   'Average Math Score': [avg_math_score],
                                   'Average Reading Score':[avg_read_score],
                                   '% Passing Math':[percent_pass_math],
                                   '% Passing Reading':[percent_pass_read],
                                   '% Overall Passing':[overall_pass_rate]})

# Format
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

# Display
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [21]:
school_types = school_merged_data['type'].unique()
school_types

array(['District', 'Charter'], dtype=object)

## Highest-Performing Schools (by % Overall Passing)

## Lowest-Performing Schools (by % Overall Passing)

## Math Scores by Grade

## Reading Scores by Grade

## Scores by School Spending

## Scores by School Size

## Scores by School Type